# ClickUp Configuration
CLICKUP_API_KEY=pk_xxxxx
CLICKUP_TEAM_ID=90151068705
CLICKUP_SPACE_ID=90157253012

# Infobip Configuration
INFOBIP_API_KEY=7a3d30a4xxx
INFOBIP_API=https://8v45x1.api.infobip.com
WHATSAPP_SENDER=+44 7860 088970

# Flask
PORT=5000
